body {
  color: #EE6111;
  font-family: 'Scada', sans-serif;
  font-size: 1em;
}
body a {
  color: #EE6111 ;
  text-decoration: none;
}
body a:hover {
  color: #036128;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-top: #CF0021 solid 4px;
  border-bottom: #4DAF18 solid 4px;
  z-index: 3;
}
nav a h1 {
  text-align: center;
  margin: 0 ;
  font-weight: 900;
  font-size: 3em;
  font-family: 'Abel', sans-serif;
  color: #EE6111;
  padding: 5px 0;
  text-decoration: none;
}
nav a h1:hover {
  color: #036128;
}
nav #top {
  margin-top: -50px;
  line-height: 10%;
  font-size: .5em;
}
header {
  background-image: linear-gradient(rgba(100, 100, 100, 0.35), rgba(0, 0, 0, 0.35)), url("../images/hero_mobile.jpg");
  margin-top: 50px;
  padding: 0;
  width: 100%;
  height: 60vw;
  background-size: cover;
  background-color: rgba(229, 229, 229, 0.3);
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  position: relative;
}
header h2 {
  text-align: center;
  margin: 0 auto 30px auto;
  padding: 125px 0 60px 0;
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(225, 225, 225, 0.9);
}
main {
  z-index: 0;
  border-top: #4DAF18 solid 4px;
}
main h1 {
  font-size: 1.75em;
  font-family: 'Abel', sans-serif;
  color: #CF0021 ;
  font-weight: 600;
  padding-top: 20px;
}
main ul li {
  display: block;
  color: #036128;
}
main #location {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-top: #036128 solid 4px;
}
main #location p {
  color: #EE6111;
  font-family: 'Scada', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}
main map {
  display: block;
  margin: 30px;
  border: #EE6111  solid 4px;
}
main #gallery {
  padding: 0 0 20px 0;
}
main #gallery ul {
  text-align: center;
}
main #gallery ul li {
  background-color: #EE6111;
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
  border-top: #CF0021  solid 2px;
  font-size: 1.25em;
}
main #gallery ul li img {
  border-bottom: #4DAF18  solid 2px;
}
main #gallery h1 {
  font-size: 1.75em;
  font-family: 'Abel', sans-serif;
  color: #CF0021 ;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
main #ordering {
  background-color: rgba(138, 194, 241, 0.45);
  padding: 0 0 20px 0;
  margin-top: -20px;
  border-top: #CF0021 solid 4px;
}
main #ordering h1 {
  text-align: center;
}
main #ordering h2 {
  text-align: center;
  font-size: 1.75em;
  font-family: 'Abel', sans-serif;
  color: #CF0021 ;
  font-weight: 600;
  padding: 10px 0;
}
main #ordering h3 {
  text-align: start;
  padding: 10px 0 0 20px;
  font-size: 1.25em;
  font-family: 'Abel', sans-serif;
  color: #EE6111 ;
  font-weight: 600;
  line-height: 80%;
}
main #ordering ul {
  padding-left: .5em;
}
main #ordering ul li {
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
  color: #EE6111 ;
  font-weight: 600;
  line-height: 120%;
  padding-left: .5em;
}
main #ordering ul.left {
  float: left;
}
main #ordering ul.right {
  float: right;
  padding-right: 4em;
}
main #ordering ul.bottom {
  clear: both;
}
footer {
  background-color: #036128;
  color: #FFF;
  font-family: 'Scada', sans-serif;
  padding: 10px 0;
}
footer h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Abel', sans-serif;
  color: #EE6111 ;
  font-weight: 600;
  line-height: 80%;
}
footer h4 {
  text-align: start;
  padding: 10px 0 0 20px;
  font-size: 1.25em;
  font-family: 'Abel', sans-serif;
  color: #EE6111 ;
  font-weight: 600;
  line-height: 80%;
}
footer a {
  color: #EE6111 ;
  text-decoration: none;
}
footer a:hover {
  color: #FFF;
}
footer P {
  margin: 20px 20px;
  font-size: 1.125em;
}
footer img {
  width: 50px;
}
footer #bios {
  padding: 20px 0;
}
footer #bios h4 {
  text-align: start;
  padding: 10px 0 0 20px;
  margin: 0 0 20px 0;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  color: #FFF ;
  font-weight: 600;
  line-height: 80%;
}
footer #social {
  text-align: center;
}
footer #social h3 {
  text-align: center;
}
footer #phone {
  text-align: center;
}
footer #copyright {
  text-align: center;
  color: #EE6111;
  padding-top: 10px;
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0%;
}
.col:first-child {
  margin-left: 0;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}
.span_11_of_12 {
  width: 91.66%;
}
.span_10_of_12 {
  width: 83.33%;
}
.span_9_of_12 {
  width: 75%;
}
.span_8_of_12 {
  width: 66.66%;
}
.span_7_of_12 {
  width: 58.33%;
}
.span_6_of_12 {
  width: 50%;
}
.span_5_of_12 {
  width: 41.66%;
}
.span_4_of_12 {
  width: 33.33%;
}
.span_3_of_12 {
  width: 25%;
}
.span_2_of_12 {
  width: 16.66%;
}
.span_1_of_12 {
  width: 8.333%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_12,
  .span_2_of_12,
  .span_3_of_12,
  .span_4_of_12,
  .span_5_of_12,
  .span_6_of_12,
  .span_7_of_12,
  .span_8_of_12,
  .span_9_of_12,
  .span_10_of_12,
  .span_11_of_12,
  .span_12_of_12 {
    width: 100%;
  }
}
