/**
 * Programmer: Michael Le-Reiver
 * Date: 11/1/16
 * Time: 11:43 AM
 * File: style.less
 * Description: Nested CSS styles for LESS compiling
 */

/* Global Styles */
body {
    color: #EE6111;
    font-family: 'Scada', sans-serif;
    font-size: 1em;
    a {
    color: #EE6111 ;
    text-decoration: none;
    }
    a:hover {
            color: #036128;
    }
}

/* Navigation Section - Fixed to top of screen. */
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-top: #CF0021 solid 4px;
    border-bottom: #4DAF18 solid 4px;
    z-index: 100;
    a h1 {
        text-align: center;
        margin: 0;
        font-size: 2.75em;
        font-family: 'Abel', sans-serif;
        padding: 5px 0;
        text-decoration: none;
        #burrito {
            font-weight: 900;
            color: #036128;
        }
        #masala {
            font-weight: 200;
            color: #EE6111;
            text-shadow: .25px 2px black;
        }
    }
    #top {
        margin-top: -50px;
        line-height: 10%;
        font-size: .5em;
    }
}

/* Header Section */
header {
    h2 {
        text-align: center;
        margin: 0 auto 30px auto;
        padding: 220px 0 60px 0;
        font-size: 6vw;
        font-weight: 700;
        color: #fff;
        text-shadow: #000 .25px .5px;
        font-family: 'Abel', sans-serif;
    }
    /**  Gradient overlay on hero image.
    * Hero Image Place holder.
    * - Replace url of new image in tag below
    */
    background-image: linear-gradient(rgba(10, 10, 10, .001),rgba(0, 0, 0, 0.80)),
        url("../images/hero.jpg");
    margin-top: 30px;
    padding: 0;
    width: 100%;
    height: 110vw;
    background-size: cover;
    background-color: rgba(229, 229, 229, 0.3);
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    position: relative;
}

/* Main Section */
main {
    z-index: 0;
    border-top: #4DAF18 solid 4px;
    h1 {
        font-size: 1.75em;
        font-family: 'Abel', sans-serif;
        color: #CF0021 ;
        font-weight: 600;
        padding-top: 20px;
    }
    ul {
        li {
            display: block;
            color:#036128;
        }
    }
    /* Ordering Section */
    #ordering {
        padding:  0 0 20px 0;
        border-top: #8AC2F1 solid 4px;
        border-bottom: #8AC2F1  solid 4px;
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
            font-size: 1.75em;
            font-family: 'Abel', sans-serif;
            color: #CF0021 ;
            font-weight: 600;
            padding: 10px 0;
        }
        h3 {
            text-align: start;
            padding: 10px 0 0 5px;
            font-size: 1.25em;
            font-family: 'Abel', sans-serif;
            color: #000 ;
            font-weight: 600;
            line-height: 80%;
            #steps {
                color: #EE6111;
            }
        }
        ul {
            padding-left: 0;
            li {
                font-size: 1.2em;
                font-family: 'Abel', sans-serif;
                color: #000 ;
                font-weight: 600;
                line-height: 120%;
                padding-left: 10px;
            }
        }
        /* Left column of Toppings */
        ul.left {
            float:left;
        }
        /* Right column of Toppings */
        ul.right {
            float: right;
            margin-right: 4em;
        }/* Bottom column of Toppings - Grandmas salsa */
        ul.bottom {
            clear: both;
        }
        /* Green color for dollar sign */
        #price {
            color: #036128;
        }
    }
    /* Gallery Section */
    #gallery {
        padding: 0;
        text-align: center;
        border-top: #4DAF18 solid 4px;
        border-bottom: #4DAF18  solid 4px;
        #column {
            display: inline-block;
            margin: 0;
            font-size: 1.25em;
            img {
                display: block;
            }
        }
        h1 {
            font-size: 1.75em;
            font-family: 'Abel', sans-serif;
            color: #CF0021 ;
            font-weight: 600;
            padding: 20px 0;
            text-align: center;
        }
    }
    /* Location Section */
    #location {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-top: #8AC2F1 solid 4px;
        border-bottom: #4DAF18  solid 4px;
        display: block;
        z-index: 0;
        p {
            font-size: 20px;
            font-family: 'Abel', sans-serif;
            color: #000 ;
            font-weight: 600;
            margin-top: 10px;
        }
        /* Image of food carts  */
        img {
            display: block;
            width: 100%;
            margin-bottom: -5px;
        }
    }
    /* Map */
    map {
        margin: 30px 0 0 0;
        display: block;
    }
}

/* Footer Section */
footer {
    background-color: #EE6111;
    color: #fff;
    font-family: 'Scada', sans-serif;
    padding: 0;
    z-index: 1024;
    border-top: #8AC2F1 solid 4px;

    h3 {
        margin: 20px 0;
        text-align: center;
        font-size: 1.5em;
        font-family: 'Abel', sans-serif;
        color: #000 ;
        font-weight: 600;
        line-height: 80%;
    }
    h4 {
         text-align: start;
         padding: 10px 0 0 20px;
         font-size: 1.25em;
         font-family: 'Abel', sans-serif;
         color: #000 ;
         font-weight: 600;
         line-height: 80%;
     }
    p {
        font-size: 1.125em;
        color: #fff;
        margin: .5em 1em 0 1em;
    }
    /* Social media icons */
    img {
        width: 42px;
        color: #000;
    }
    /* Chefs bios section */
    #bios {
        padding: 10px 0;
        h4 {
            text-align: start;
            padding: 0 0 0 20px;
            margin: 0;
            font-size: 1em;
            font-family: 'Abel', sans-serif;
            color: #000 ;
            font-weight: 600;
            line-height: 80%;
        }
    }

    /* Phone for Mobile */
    #phone {
        text-align: center;
        margin: 20px 0;
    }

    /* Social Media Section */
    #social {
        color: #000;
        text-align: center;
        margin-bottom: 2em;
        h3 {
            text-align: center;
        }
        a {
            margin: 0 .75em 2em .75em;
        }
    }
    /* Copyright Section */
    #copyright {
        h3{
            font-size: 1.75em;
        }
        p {
            text-align: center;
            color: #000;
            margin-top: 1em;
            padding-bottom: 1em;
        }
    }
}

/*  LAYOUT BELOW 280 PIXELS */
@media only screen and (max-width: 280px) {
    /* Global */
    body {
        min-width: 270px;
    }
    /* Header */
    header {
        h2 {
            padding: 180px 0 60px 0;
        }
    }
    /* Navigation */
    nav {
        a h1 {
            font-size: 3.25em;
        }
    }
}

/*  LAYOUT ABOVE 300 PIXELS */
@media only screen and (min-width: 300px) {
    /* Header */
    header {
        h2 {
            padding: 250px 0 60px 0;
        }
    }
/* Navigation */
    nav {
        a h1 {
            font-size: 3.25em;
        }
    }
}


/*  LAYOUT ABOVE 380 PIXELS */
@media only screen and (min-width: 380px) {
    /* Header */
    header {
        h2 {
            padding: 300px 0 60px 0;
        }
    }
/* Navigation */
    nav {
        a h1 {
            font-size: 3.25em;
        }
    }
}
/*  LAYOUT ABOVE 465 PIXELS */
@media only screen and (min-width: 465px) {
    /* Header */
    header {
            h2 {
                padding: 380px 0 60px 0;
        }
    }
    /* Navigation */
    nav {
        a h1 {
            font-size: 3.25em;
        }
    }
}

/*  LAYOUT ABOVE 600 PIXELS */
@media only screen and (min-width: 600px) {
    /* Header */
    header {
            h2 {
                padding: 470px 0 60px 0;
        }
    }
}

/*  LAYOUT ABOVE 769 PIXELS */
@media only screen and (min-width: 769px) {

    /* Header */
    header {
            h2 {
                padding: 425px 0 60px 0;
                font-size: 5vw;
            }
        height: 550px;
    }
    main {
        /* Location Section */
        #location {
            p {
                font-size: 20px;
                margin-top: 15px;
            }
            img {
                margin: 30px 0 -15px 0;
            }
        }
        #ordering {
            #steps {
                margin-top: 9px !important;
            }
            h3 {
                margin-left: 40px;
                font-size: 130%;
                font-stretch: extra-expanded;

            }
            ul {
                li {
                    margin-left: 40px;
                }
            }
            /* Left column of Toppings */
            ul.left {
                   margin-left: 0;
               }
            /* Right column of Toppings */
            ul.right{
                margin-right: 20px;
            }
        }
    }
    footer {
        #social {
            text-align: center;
            h3 {
                text-align: center;
            }
            h2 {
                font-size: 1.75vw;
                padding-top: 40px;
            }
            img {
                //padding-top: 10px;
                margin: 5px 5px 10px 5px;
                width: 40px;
            }
        }
        /* Phone for mobile */
        #phone {
            display: none;
        }
        /* Phone for desktop and tablet */
        #phone_desktop {
            text-align: center;
            h3 {
                text-align: center;
                margin-right: 15px;
        }
            p {
                font-size: 3vw;
                margin-top: 25px;
            }
        }
    }
}

/*  LAYOUT ABOVE 1024 PIXELS */
@media only screen and (min-width: 1024px) {

    /* Navigation */
    nav {
        a h1 {
            font-size: 6vw;
        }
    }
    /* Header */
    header {
        h2 {
            font-size: 4.5vw;
        }
        height: 600px;
    }
    main {
        h1 {
            font-size: 3vw;
        }
        /* Gallery Section */
        #gallery h1 {
            font-size: 3vw;
        }
        /* Location Section */
        #location {
            img {
                margin: 30px 0 -10px 0;
            }
            p {
                font-size: 22px;
            }

        }
        #ordering {
            h2 {
                font-size: 3vw;
            }
            h3 {
                margin-left: 100px;
                font-size: 2vw;
            }
            ul {
                li {
                    margin-left: 80px;
                }
            }
            /* Right column of Toppings */
            ul.right {
                margin-right: 60px;
                padding-right: 0;
            }
            ul {
                li {
                    font-size: 2vw;
                }
            }
        }
    }

    footer {
        /* Social media icons */
        img {
            padding-top: 10px;
            margin: 10px 5px 100px 5px;
            width: 40px;
            display: inline-block;
        }
        h3 {
            font-size: 2.5vw;
        }
        h4 {
             font-size: 2.5vw;
         }
        /* Phone for desktop and tablet */
        #phone_desktop {
            text-align: center;
            h3 {
                text-align: center;
                margin-right: 15px;
            }
            p {
                font-size: 2.5vw;
            }
        }
    }
}

/*  LAYOUT ABOVE 1200 PIXELS */
@media only screen and (min-width: 1200px) {
    /* Header */
    header {
        height: 750px;
        h2 {
            font-size: 50px;
            padding: 550px 0 60px 0;
        }
        img {
            height: 500px;
        }
    }
    /* Navigation */
    nav {
        a h1 {
            font-size: 5vw;
        }
    }

    main {
        h1 {
            font-size: 2.5vw;
        }
        /* Gallery Section */
        #gallery h1 {
            font-size: 2.5vw;
        }
        /* Location Section */
        #location  {
            h1 {
                font-size: 2.5vw;
            }
            map {
                display: block;
                margin: 30px 0 0 0;
            }
            p {
                font-size: 25px;
            }
        }
        #ordering {
            h2 {
                font-size: 2.5vw;
            }
        }
    }
    footer {
        h3 {
            font-size: 2vw;
        }
        h4 {
            font-size: 2vw;
        }
    }
}


