body {
    color: #EE6111;
    font-family: 'Scada', sans-serif;
    font-size: 1em;
    font-weight: 400;
    p {
        color: #036128;
        font-family: 'Scada', sans-serif;
        font-size: 1.25em;
        font-weight: 500;
    }
    a {
    color: #EE6111 ;
    text-decoration: none;
    }
    a:hover {
            color: #036128;
    }
}

nav{
    ul {
        li {
        display: inline-block;
        float: left;
            a {
            display: block;
            color: white;
            padding: 16px;
            text-decoration: none;
            }
            a:hover {
                color: #036128;
            }
        }
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(138, 194, 241, 0.6);
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    a h1 {
        text-align: center;
        margin: 10px 65px 0 0;
        font-weight: 700;
        font-size: 2em;
        font-family: 'Abel', sans-serif;
        color: #EE6111;
        text-align: center;
        padding: 5px 0;
        text-decoration: none;
        }
    a h1:hover {
            color: #036128;
    }
    #top-border {
          border-bottom: #CF0021 solid 4px;
    }
    
    
    border-top: #CF0021 solid 4px;
    border-bottom: #4DAF18 solid 4px;
}

header {
    h2 {
        text-align: center;
        margin: 150px auto 0 auto;
        font-size: 1.5em;
        font-weight: 800;
        color: rgba(225,225,225,.9);
    }
    background-image: 
        linear-gradient(
          rgba(100, 100, 100, 0.35), 
          rgba(0, 0, 0, 0.35)
        ),
        url("../images/hero_mobile.jpg");
    margin-top: 60px;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background-size: cover;
    background-color: rgba(229, 229, 229, 0.3);
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    position: relative;
    z-index: 0;
}

main {
    border-top: #4DAF18 solid 4px;
    h1 {
        font-size: 1.75em;
        font-family: 'Abel', sans-serif;
        color: #CF0021 ;
        font-weight: 600;
        padding-top: 20px;
    }
    ul {
        li {
            display: block;
            color:#036128;
        }
    }
    location {
        text-align: center;
        width: 100%;
        margin: 60px auto;
        border-top: #036128 solid 4px;
    }
    map {
       display: block;
       margin: 30px;
        border: #EE6111  solid 4px;
    }
    gallery {
        ul {
            li {
                display: inline-block;
                margin: 20px 0 0 0;
                border-top: #CF0021  solid 2px;
                img {
                border-bottom: #4DAF18  solid 2px;
                }
            }
        text-align: center; 
        }
        h1 {
            font-size: 1.75em;
            font-family: 'Abel', sans-serif;
            color: #CF0021 ;
            font-weight: 600;
            padding-top: 20px;
            text-align: center;
        }
    }
    ordering {
        h1 {
        text-align: center;
        }
        h2 {
        text-align: center;
        font-size: 1.25em;
        font-family: 'Abel', sans-serif;
        color: #CF0021 ;
        font-weight: 600;
        padding-top: 20px;
        }
        margin: 100px;
    }
}

footer {
    
}